<div class="row d-flex mt-3">
  <div class="col-md-2"></div>
  <div class="col-md-9" id="questions-index">
    <div class="row d-flex justify-content-between ml-1">
      <div class="col-xs-6">
        <h1 class="h1">Top Questions</h1>
      </div>
      <div class="col-xs-6">
        <%= button_to "Ask a Question", { action: "new" }, class: "btn btn-success", id: "ask-question-btn", method: "get" %>
      </div>
    </div>
    <br/>
    <% if @recent_questions %>
      <div class="questions_list">
      <% @recent_questions.each do |question| %>
        <div class="question">
          <p class="question_link"><%= link_to question.title, question %></p>
          <p class="question_date"><%= question.created_at.strftime("%B %d %Y") %></p>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-md-1"></div>
</div>
