<br/>
<h1>Top Questions</h1>

<% if @recent_questions %>
  <div class="questions_list">
  <% @recent_questions.each do |question| %>
    <div class="question">
      <p class="question_link"><%= link_to question.title, question %></p>
      <p class="question_date"><%= question.created_at.strftime("%B %d %Y") %></p>
    </div>
  <% end %>
  </div>
<% end %>
<br/>
<%= button_to "Ask a Question", { action: "new" }, class: "btn btn-success", method: "get" %>
