#questions-index {
  border-left: solid 1px #e1e9f7;
}

#ask-question-btn {
  margin-right: 15px;
}

.question_link {
  border-top: solid 1px #e1e9f7;
}

.flash.notice {
  background-color: #ffdd99;
  border: 1px solid #ffaa00;
}

.flash.success {
  background-color: #B3F6BB;
  border: 1px solid #1BBA2E;
}

#nav-logo {
  margin-right: 80px;
}

#nav-search-bar {
  margin-right: 80px;
  margin-left: 40px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.del-btn {
  margin-left: 5px;
}

.response-li-group {
  border-top: 1px solid grey;
  padding: 10px;
  padding-left: 0;
}

#responses-ul {
  list-style-type: none;
  padding-left: 0;
}

.response-ranking, .response-user, .question-user {
  color: grey;
}

.best-btn-clicked {
  background-color: #007bff;
  color: white;
}
